<mat-form-field>
    <input matInput required [ngxTimepicker]="timepickerWithButtons" [value]="'01:00 pm'" [(ngModel)]="time" placeholder={{timeFrame}}>
    <ngx-material-timepicker #timepickerWithButtons [ngxMaterialTimepickerTheme]="darkTheme"
        [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn">
    </ngx-material-timepicker>
    <ng-template #cancelBtn>
        <button mat-raised-button id="cancel-button">Cancel</button>
    </ng-template>
    <ng-template #confirmBtn>
        <button mat-raised-button id="confirm-button">Confirm</button>
    </ng-template>
</mat-form-field>