@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

html, body { 
  margin: 0;
  height: 100%;
}

.success-snackbar {
  background: #4CAF50;
}

.success-snackbar > .mat-simple-snackbar {
  justify-content: center;
}

.failure-snackbar {
  background: #F44336;
}

.failure-snackbar > .mat-simple-snackbar {
  justify-content: center;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}