@media (max-width: 600px) {
  .photo {
    margin-top: 24px;
    margin-bottom: 19px;
  }
}

@media (min-width: 600px) {
  img {
    width: 300px;
    height: 250px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .mat-tab-group {
    width: 95%;
  }

  .photo {
    position: relative;
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 19px;
  }

  .photo:hover .download {
    display: block;
  }

  .download {
    position: absolute;
    right: 45%;
    top: 43%;
    display: none;
  }

  mat-icon {
    transform: scale(2);
    color: white;
  }
}

.info-container .row .col-6 {
  padding: 0;
}

.info-container {
  margin-bottom: 15px;
  margin-top: 15px;
}

.info-container .row {
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

p {
  color: black;
  display: inline;
  margin-bottom: 0;
}

.not-provided {
  color: rgb(117, 117, 117);
}

span {
  display: inline;
  overflow-wrap: break-word;
  color: #3f51b5;
}

.col-4 {
  padding-left: 0;
}

