<div
class="flex-row"
fxLayout="row"
fxLayoutGap="20px"
fxLayoutAlign="center center"
>
<div class="time-picker">
  <app-time-picker
    [timeFrame]="timeFrom"
    (timeEmitter)="timeFromEvent($event)"
  ></app-time-picker>
</div>
<div class="time-picker">
  <app-time-picker
    [timeFrame]="timeTo"
    (timeEmitter)="timeToEvent($event)"
  ></app-time-picker>
</div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<mat-dialog-content>
  
    <div
      class="flex-row"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutAlign="center center"
    >
      <mat-form-field>
        <mat-select
          placeholder="Payer Type"
          (selectionChange)="onPayerTypeSelection()"
          formControlName="payerType"
          required
        >
          <mat-option *ngFor="let payerType of payerTypes" [value]="payerType">
            {{ payerType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="applianceType" placeholder="Appliance" />
      </mat-form-field>
    </div>
    <div
      class="flex-row"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutAlign="center center"
    >
      <mat-form-field>
        <input
          matInput
          formControlName="address"
          placeholder="Address"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          formControlName="postcode"
          placeholder="Postcode"
          required
        />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput formControlName="problemGiven" placeholder="Problem" />
      </mat-form-field>
    </div>

    <div
      class="flex-row"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutAlign="center center"
    >
      <mat-form-field class="example-full-width" *ngIf="isAgency">
        <input
          type="text"
          placeholder="Agency"
          matInput
          formControlName="agency"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let option of (filteredOptions | async)"
            [value]="option"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-slide-toggle
        *ngIf="isAgency"
        formControlName="key"
        (toggleChange)="onKeyToggle()"
        >Pickup Key</mat-slide-toggle
      >
      <mat-form-field *ngIf="isLandlord">
        <input
          matInput
          formControlName="landlordName"
          placeholder="Landlord Name"
        />
      </mat-form-field>
      <mat-form-field *ngIf="isLandlord">
        <input
          matInput
          formControlName="landlordPhone"
          placeholder="Landlord Phone"
        />
      </mat-form-field>
      <mat-form-field *ngIf="isPrivate">
        <input
          matInput
          formControlName="privateName"
          placeholder="Client Name"
        />
      </mat-form-field>
      <mat-form-field *ngIf="isPrivate">
        <input
          matInput
          formControlName="privatePhone"
          placeholder="Client Phone"
        />
      </mat-form-field>
    </div>
    <div
      class="flex-row"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutAlign="center center"
    >
      <mat-form-field *ngIf="isAgency">
        <input
          matInput
          formControlName="keyAddress"
          placeholder="Key Address"
        />
      </mat-form-field>
      <mat-form-field *ngIf="isAgency">
        <input
          matInput
          formControlName="agencyReference"
          placeholder="Reference"
        />
      </mat-form-field>
    </div>

    <div
      class="flex-row"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutAlign="center center"
    >
      <mat-form-field *ngIf="isAgency || isLandlord">
        <input
          matInput
          formControlName="tenantName"
          placeholder="Tenant Name"
        />
      </mat-form-field>
      <mat-form-field *ngIf="isAgency || isLandlord">
        <input
          matInput
          formControlName="tenantPhone"
          placeholder="Tenant Phone"
        />
      </mat-form-field>
    </div>
  
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button
    class="mat-raised-button mat-primary"
    type="submit"
    [disabled]="!form.valid"
  >
    Save
  </button>
</mat-dialog-actions>
</form>
