<mat-dialog-content [formGroup]="form">
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
            <input matInput formControlName="ApplianceType" placeholder="Appliance Type">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Payer Type">
                <mat-option *ngFor="let payerType of payerTypes" [value]="payerType">
                    {{payerType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
               <div class="time-picker">
                    <app-time-picker [time]='timeFrom'></app-time-picker>
               </div>
               <div class="time-picker">
                    <app-time-picker [time]='timeTo'></app-time-picker>
               </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>