@media (max-width: 600px) {
  .day {
    width: 35px;
  }

  .empty-box {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.75;
    min-width: 35px !important;
  }

  .filled-box {
    background: rgba(33, 150, 243, 0.25);
    border: 1px solid #2196f3;
    border-radius: 5px;
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 35px !important;
  }

  .info-column {
    margin-top: 25px;
  }
}

@media (min-width: 600px) {
  .date {
    text-align: center;
  }

  .day {
    width: 80px;
  }

  .empty-box {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-size: 10px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 0.75;
  }

  .filled-box {
    background: rgba(33, 150, 243, 0.25);
    border: 1px solid #2196f3;
    border-radius: 5px;
    font-size: 10px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.mat-card {
  border-radius: 0;
  padding-bottom: 30px;
}

.date {
  color: #3f51b5;
  padding: 2px;
  border-radius: 5px;
}

.title {
  color: #3f51b5;
}

.container {
  margin-top: 25px;
}

.info1 {
  height: 157.8px;
}

.info2 {
  height: 157.8px;
}

agm-map {
  height: 325px;
}

.container-map {
  margin-top: 25px;
}

.mat-form-field {
  width: 100%;
}

#clearIcon {
  cursor: pointer;
}

.completed {
  background: rgba(76, 175, 80, 0.25);
  border: 1px solid #4caf50;
}

.cancelled {
  background: rgba(244, 67, 54, 0.25);
  border: 1px solid #f44336;
}

.confirmation {
  background: rgba(255, 193, 7, 0.25);
  border: 1px solid #ffc107;
}
.week-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
}

.week-spinner {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.today-wrapper {
  padding-left: 15px;
}

.tomorrow-wrapper {
  padding-left: 15px;
}
