@media (max-width: 600px) {
  .day {
    width: 40px;
  }
}

@media (min-width: 600px) {
  .date {
    text-align: center;
  }

  .day {
    width: 80px;
  }
}

.container {
  margin: 0;
}

.row {
  margin-right: 0;
  margin-top: 15px;
}

.filled-box {
  border: 1px solid #4caf50;
  border-radius: 5px;
  font-size: 10px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.empty-box {
  border-radius: 5px;
  font-size: 10px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
  opacity: 0.75;

}

.date {
  color: #3f51b5;
  padding: 2px;
  border-radius: 5px;
}

.title {
  color: #3f51b5;
}
