.example-element-detail {
  overflow: hidden;
  display: flex;
}

.mat-card {
  margin: 2%;
  padding: 2%;
}

.main-container,
.expansion-container {
  margin-top: 1.5%;
}

/* .col-sm .details {
  display: inline;
  font-size: 200%;
} */

.info-icon {
  transform: scale(1.25);
  margin-right: 8px;
  color: #484848;
}

a {
  color: black;
}

/* .col-sm .mat-icon {
  transform: scale(1.2);
  margin-right: 6px;
  padding-top: 10px;
  margin-right: 2.5%;
} */

@media screen and (max-width: 600px) {
  .expansion-container .row {
    margin-top: 10px;
  }
  .info-icon {
    transform: scale(0.9);
    margin-right: 8px;
    color: #484848;
  }
 .row > div {
   margin-bottom: 5px;
 }
}

.main-container .row,
.expansion-container .row {
  font-size: 18px;
}

mat-divider {
  margin-top: 10px;
}

.expansion-container {
  width: 100%;
}

.row > div {
  display: inline-flex;
  vertical-align: middle;

}

.col-sm-2 {
  max-width: 180px;
}

.expand-icon {
  position: relative;
  margin-bottom: 50%;
  transform: scale(1.7);

}

.status-icon {
  position: relative;
  margin-bottom: 50%;
  transform: scale(1);
}

.edit-icon {
  position: relative;
  margin-bottom: 50%;
  transform: scale(1);
}

.options-button {
  font-size: 30px !important;
  height: 30px !important;
  width: 30px !important;
  /* display: flex; */
}

:focus {
  outline: none !important;
}
