<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="week-container">
        <mat-card>
          <mat-card-title>
            <div class="title">
              <h5>This Week's Jobs</h5>
            </div>
          </mat-card-title>
          <mat-card-subtitle>{{ today | date: "fullDate" }}</mat-card-subtitle>
          <mat-card-content>
            <div *ngIf="!loading" fxLayout="row" fxLayoutAlign="space-evenly none">
              <div class="day" *ngFor="let day of days" fxLayout="column" fxLayoutAlign="none">
                <div class="date" *ngIf="isMobile() || isTablet()" [ngStyle]="{
                    border: isToday(day.date)
                      ? '1px dashed #3f51b5'
                      : '1px dashed white'
                  }">
                  {{ day.date | date: "EEE" }}
                </div>
                <div class="date" *ngIf="!isMobile() && !isTablet()" [ngStyle]="{
                    border: isToday(day.date)
                      ? '1px dashed #3f51b5'
                      : '1px dashed white'
                  }">
                  {{ day.date | date: "EEEE" }}
                </div>

                <div *ngFor="let slot of day.slots" fxLayout="row">
                  <div class="filled-box mat-elevation-z2" *ngIf="slot.job !== null; else emptybox"
                       [ngClass]="{'cancelled': isCancelled(slot.job.tags), 'confirmation': isConfirmation(slot.job.tags), 'completed': isCompleted(slot.job.tags)}"
                  >
                    <div *ngIf="isMobile() || isTablet()" class="time">
                      {{ slot.job.timeFrom | date: "h" }}-{{
                        slot.job.timeTo | date: "h"
                      }}
                    </div>
                    <div *ngIf="!isMobile() && !isTablet()" class="time">
                      {{ slot.job.timeFrom | date: "h a" }} -
                      {{ slot.job.timeTo | date: "h a" }}
                    </div>
                    <div *ngIf="isMobile() || isTablet()" class="postcode">
                      {{ slot.job.postCode | split }}
                    </div>
                    <div *ngIf="!isMobile() && !isTablet()" class="postcode">
                      {{ slot.job.postCode }}
                    </div>
                  </div>
                  <ng-template #emptybox>
                    <div *ngIf="isMobile() || isTablet()" class="empty-box mat-elevation-z2">
                      <div>{{ slot.defaultFrom | date: "h a" }}</div>
                      <div>{{ slot.defaultTo | date: "h a" }}</div>
                    </div>
                    <div *ngIf="!isMobile() && !isTablet()" class="empty-box mat-elevation-z2">
                      {{ slot.defaultFrom | date: "h a" }} -
                      {{ slot.defaultTo | date: "h a" }}
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div *ngIf="loading" class="week-wrapper">
                <mat-spinner class="week-spinner"></mat-spinner>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-sm-4 info-column">
      <div class="info1">
        <mat-card [style.height]="'100%'" [style.background]="'#4CAF50'" [style.color]="'white'">
          <mat-card-header>
            <mat-card-title *ngIf="!isTablet()">
              JOBS TODAY
            </mat-card-title>
            <mat-card-title *ngIf="isTablet()">
              TODAY
            </mat-card-title>
            <mat-card-subtitle>
              Good luck!
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content
          *ngIf="!loading"
          [style.font-size]="'30px'"
          [style.padding-left]="'16px'">
          {{getTodayJobNumber}}
          </mat-card-content>
          <mat-card-content *ngIf="loading">
          <div class="today-wrapper">
            <mat-spinner class="today-spinner" [diameter]="30"></mat-spinner>
        </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div>&nbsp;</div>
      <div class="info2">
        <mat-card [style.height]="'100%'" [style.background]="'#673AB7'" [style.color]="'white'">
            <mat-card-header>
                <mat-card-title *ngIf="!isTablet()">
                  JOBS TOMORROW
                </mat-card-title>
                <mat-card-title *ngIf="isTablet()">
                  TOMORROW
                </mat-card-title>
                <mat-card-subtitle>
                  Good luck!
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content
              *ngIf="!loading"
              [style.font-size]="'30px'"
              [style.padding-left]="'16px'">
              {{getTomorrowJobNumber}}
              </mat-card-content>
              <mat-card-content *ngIf="loading">
                <div class="tomorrow-wrapper">
                  <mat-spinner class="tomorrow-spinner" [diameter]="30"></mat-spinner>
              </div>
                </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container-map">
    <mat-card>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Show Jobs For</mat-label>
            <mat-select [formControl]="selected">
              <mat-option *ngFor="let day of days" [value]="day">
                <span *ngIf="isToday(day.date)">Today</span>
                <span *ngIf="!isToday(day.date)">{{
                    day.date | date: "EEEE"
                  }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-8">
          <mat-form-field>
            <input matInput placeholder="Search Location" autocorrect="off" autocapitalize="off" spellcheck="off"
              type="text" #search [formControl]="searchControl" />
            <mat-icon *ngIf="!searchClear" matSuffix>
              search
            </mat-icon>
            <mat-icon *ngIf="searchClear" id="clearIcon" (click)="onSearchClear()" matSuffix>
              clear
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
      <agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude">
        <agm-marker *ngFor="let location of locations" [latitude]="location.latitude" [longitude]="location.longitude"
          [markerDraggable]="false" [iconUrl]="location.colour">
          <agm-info-window>
            <div>{{ location.postcode }}</div>
            <div>
              {{ location.timeFrom | date: "h a" }} -
              {{ location.timeTo | date: "h a" }}
            </div>
          </agm-info-window>
        </agm-marker>
        <agm-marker *ngIf="searchMarker != null" [latitude]="searchMarker.latitude" [longitude]="searchMarker.longitude"
          [markerDraggable]="false" [iconUrl]="markerColourUrls.yellow"></agm-marker>
      </agm-map>
    </mat-card>
  </div>
</div>