<h1 mat-dialog-title>Edit Job</h1>
<form [formGroup]="form">
  <mat-dialog-content>
    <mat-form-field>
      <textarea #jobReportInput rows="1" maxlength="200" matInput formControlName="jobreport" placeholder="Report"></textarea>
      <mat-hint align="end">{{jobReportInput.value?.length || 0}}/200</mat-hint>
      <mat-error *ngIf="form.get('jobreport').hasError('maxlength')">Exceeded character limit</mat-error>
    </mat-form-field>
    <div class="row">
      <div class="col-sm-10">
        <mat-form-field>
          <ngx-mat-file-input
            #Input
            formControlName="multiplefile"
            placeholder="Click to add photos"
            [accept]="'.jpg'"
            multiple
          ></ngx-mat-file-input>
          <button
            mat-icon-button
            matSuffix
            *ngIf="!Input.empty"
            (click)="Input.clear($event)"
          >
            <mat-icon>clear</mat-icon>
          </button>
          <mat-icon *ngIf="Input.empty" matSuffix>folder_open</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <button
          class="mat-raised-button upload-button"
          (click)="onUpload()"
          [disabled]="!uploader.getNotUploadedItems().length"
        >
          Upload
        </button>
      </div>
    </div>
    <mat-progress-bar
      mode="determinate"
      value="{{ uploader.progress }}"
    ></mat-progress-bar>
    <div class="text-container">
      <div>
        Click tag to select
      </div>
    </div>
    <div class="row chip-row">
      <mat-chip-list [multiple]="true" [selectable]="true">
        <mat-chip
          *ngFor="let tag of defaultTags"
          [style.background]="tag.selected ? tag.color : '#e0e0e0'"
          [style.color]="tag.selected ? 'white' : 'black'"
          [selected]="true"
          (click)="onSelect(tag)"
          onclick="this.blur()"
          >{{ tag.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div fxFlex fxLayout fxLayoutAlign="start">
      <button class="mat-raised-button" (click)="close()">Cancel</button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end">
      <button class="mat-raised-button mat-primary" (click)="save()">
        Save Changes
      </button>
    </div>
  </mat-dialog-actions>
</form>
