@media (max-width: 600px) {
  .upload-button {
    min-width: 100%;
    color: white;
    background: #4CAF50;
    border-radius: 2.5px 2.5px 0px 0px;
  }

  .upload-button:disabled {
    min-width: 100%;
    border-radius: 2.5px 2.5px 0px 0px;
  }

  .mat-progress-bar {
    border-radius: 0px 0px 2.5px 2.5px;
  }
}

@media (min-width: 600px) {
  .upload-button {
    margin-top: 12%;
    color: #3f51b5;
  }
}

mat-form-field {
  width: 100%;
}
.tag-container {
  display: flex;
  flex-direction: column;
}

.mat-standard-chip {
  min-height: 30px;
}

.mat-chip {
  font-weight: 10;
}

.mat-dialog-content {
  min-height: 360px;
}

h1 {
  color: #3f51b5;
}
