<div class="background">
  <div class="container">
    <div class="signin-content">
      <div class="image-wrapper">
        <img class="logo" src="https://i.imgur.com/FjFcTwn.png" alt="logo" />
      </div>
      <mat-card>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p [style.color]="'#673ab7'">Please login to continue</p>
            <mat-form-field class="full-width-input">
              <input
                matInput
                placeholder="User"
                formControlName="username"
                required
              />
              <mat-error *ngIf="loginForm.get('username').hasError('required')">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                required
              />
              <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Login</button>
          </form>
        </mat-card-content>
        <div class="login-info">
          User: demo / Password: secretPassw0rd?
        </div>
      </mat-card>
    </div>
  </div>
  <div class="annotation">
    <p>made with</p>
    <img id="img-core" src="../../assets/core.png" alt="">
    <img id="img-angular" src="../../assets/angular.png" alt="">
  </div>
</div>