mat-card {
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
  border: 1px solid #3f51b5;
}

.full-width-input {
  width: 100%;
}

.logo {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signin-content {
  padding-top: 100px;
}
