:host {
  background: blue;
}

mat-card {
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
  border: 1px solid #3f51b5;
}

.full-width-input {
  width: 100%;
}

.logo {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signin-content {
  padding-top: 100px;
}

.container {
  height: 100%;
  width: 100% !important;
  max-width: 100% !important;
  margin: 0;
  padding: 0;
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  clip-path: ellipse(60% 71% at 76% 24%);
  clip-path: ellipse(81% 71% at 78% 19%);
  clip-path: ellipse(81% 71% at 78% 11%);
  clip-path: ellipse(76% 81% at 66% 16%);


}

.background {
  position: relative;
  background-color: #3f51b5;
  height: 100%;
  width: 100% !important;
  max-width: 100% !important;
}

.annotation {
  position: absolute;
  display: inline-block;
  top: 78%;
  left: 4%;
}

.annotation p {
  padding-left: 10px;
  color: #fff;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.login-info {
  color: #3f51b5;
}

#img-angular {
  max-width: 65px;
  margin-left: 10px;
}

#img-core {
  max-width: 60px;
}
