<!-- Subscribe to 'isLoggedIn$' and store its value in local template variable 'isLoggedIn'-->
<mat-toolbar color="primary" class="mat-elevation-z5" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <mat-toolbar-row>
    <button mat-button class="mat-button-icon" [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button [routerLink]="['/home']">
      <span class="nav-button-text">Invoices</span>
    </button>
    <button mat-button [routerLink]="['/home']">
      <span class="nav-button-text">Clients</span>
    </button>
    <span class="nav-spacer"></span>
    <button mat-button class="mat-button-icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-button class="mat-button-icon" (click)="onLogOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>