.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

.mat-toolbar.mat-primary {
  background: #3f51b5;
}

.mat-icon {
  transform: scale(1.3);
}

.end-nav-icons .mat-button:hover .mat-icon,
.end-nav-icons .mat-button:hover .right-nav-button-text {
  color: white;
}

.mat-button:hover .left-nav-button-text {
  color: white;
}

span {
  font-size: 18px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 40;
  color: white;
}

.navigation-items {
  margin-left: -40px;
}

.mat-button {
  height: 63px;
  border-radius: 0;
}

#logout-nav-link p {
  display: none;
}

#settings-nav-link p {
  display: none;
}

@media screen and (min-width: 600px) {
  .navigation-items .mat-button {
    border-bottom: 4px #3f51b5 solid;
  }
  .navigation-items .router-link-active {
    color: white;
    border-bottom: 4px white solid;
  }
  .navigation-items .mat-button:hover {
    border-bottom: 4px white solid;
  }
}

.right-nav-button-text {
  padding-left: 6px;
}

:focus {
  outline: none !important;
}
