.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

.mat-toolbar.mat-primary {
  background: #202123;
}

.mat-icon {
  transform: scale(1.5);
}

mat-toolbar {
  margin-bottom: 0;
}
.mat-button:hover .nav-button-text {
  color: white;
}

.nav-button-text {
  font-size: 20px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  color: rgba(158, 158, 158, 1);
}

.navigation-items {
  margin-left: -40px;
}

.mat-button {
  height: 63px;
  border-radius: 0;
}

@media screen and (min-width: 600px) {
  .mat-button {
    border-bottom: 4px #202123 solid;
  }
  .router-link-active {
    color: white;
    border-bottom: 4px white solid;
  }
  .mat-button:hover {
    border-bottom: 4px white solid;
  }
}
