<mat-toolbar class="mat-elevation-z5" color="primary">
  <div fxHide.gt-xs>
    <button mat-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <button
        mat-button
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/']"
      >
        <mat-icon>home</mat-icon>
      </button>
      <button
        mat-button
        routerLinkActive="router-link-active"
        [routerLink]="['/invoices']"
      >
        <span class="left-nav-button-text">Invoices</span>
      </button>
      <button
        mat-button
        routerLinkActive="router-link-active"
        [routerLink]="['/client']"
      >
        <span class="left-nav-button-text">Clients</span>
      </button>
    </ul>
  </div>
  <div class="end-nav-icons" fxFlex fxLayout fxLayoutAlign="end">
    <button mat-button [routerLink]="['/login']">
      <mat-icon>settings</mat-icon>
      <span id="settings-nav-link" class="right-nav-button-text">
        <p>Settings</p>
      </span>
    </button>
    <button mat-button (click)="onLogOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span id="logout-nav-link" class="right-nav-button-text">
        <p>Logout</p>
      </span>
    </button>
  </div>
</mat-toolbar>
