.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

mat-toolbar {
  height: 60px !important;
  min-height: 60px !important;
}

mat-toolbar-row {
  height: 60px !important;
}

.mat-icon {
  font-size: 30px;
}

.mat-button-icon-link {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 22px;
  margin-bottom: 1px;
}

.nav-button-text {
  font-size: 15px;
}

#mat-button-icon-drawer {
  padding-top: 9.5px;
  padding-bottom: 10px;
  padding-right: 22px;
  margin-bottom: 1px;
}
