/* .example-element-detail {
  overflow: hidden;
  display: flex;
} */



.filled-mat-card {
  border-radius: 0;
  margin: 2%;
  padding-top: 1%;
  padding-bottom: 0.5%;
  padding-right: 2%;
  padding-left: 2%;
}

.main-toolbar {
  margin-left: 2%;
  margin-right: 2%;
}

.empty-mat-card {
  margin: 2%;
  position: relative;
  padding: 1.2%;
  border-radius: 0;
}

a {
  color: black;
}


/* .expansion-container {
  width: 100%;
} */

/* .row > div {
  display: inline-flex;
  vertical-align: middle;
} */

.card-details .row > div {
  display: inline-flex;
  vertical-align: middle;
}

.expand-icon {
  position: relative;
  margin-bottom: 50%;
  transform: scale(1.7);
}

.status-icon {
  position: relative;
  margin-bottom: 50%;
  transform: scale(1);
}

.edit-icon {
  position: relative;
  margin-bottom: 50%;
  transform: scale(1);
}

.delete-icon {
  position: relative;
  margin-bottom: 50%;
  transform: scale(1);
}

.options-button {
  font-size: 30px !important;
  height: 30px !important;
  width: 30px !important;
}

:focus {
  outline: none !important;
}

@media (max-width: 600px) {
  .info-icon {
    transform: scale(0.85);
    margin-right: 8px;
    color: #484848;
  }
  .weekday-display > div {
    font-size: 15px;
    opacity: 1;
    color: #3f51b5;
  }

  .matchFound {
    font-size: 15px;
    opacity: 1;
    color: #4caf50;
  }

  .matchNotFound {
    font-size: 15px;
    opacity: 1;
  }

  .card-container .row div {
    margin-top: 8px;
  }

  .options-button {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 3%;
  }

  .status-col-icon {
    transform: scale(0.8);
    margin-right: 8px;
  }

  #week {
    opacity: 0.8;
  }

  .weekday-display {
    margin-top: 10%;
    margin-right: 2.5%;
    margin-left: 2%;
    margin-bottom: 5%;
  }

  #empty-slot-time {
    position: absolute;
    padding-top: 3%;
    font-size: 85%;
    opacity: 0.5;
    padding-left: 2.5%;
  }

  .calendar-picker {
    max-width: 150px;
  }

  .date-range-picker {
    max-width: 150px;
  }

  .search-bar {
    width: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .card-options {
    flex: none;
    max-width: 5%;
  }
  
  .card-details {
    flex: none;
    max-width: 95%;
  }

  /* .expansion-container .row {
    margin-top: 10px;
  } */

  .matchFound {
    font-size: 25px;
    font-weight: 100;
    color: #4caf50;
  }

  .matchNotFound {
    font-size: 25px;
    font-weight: 100;
    color: red;
  }

  .info-icon {
    transform: scale(0.9);
    margin-right: 8px;
    color: #484848;
  }

  #postcode-col {
    min-width: 150px;
    max-width: 150px;
  }

  #time-col {
    min-width: 220px;
    max-width: 220px;
  }

  #contact-phone-col {
    min-width: 180px;
    max-width: 180px;
  }

  #payer-type-col {
    min-width: 130px;
    max-width: 130px;
  }

  #address-col {
    min-width: 570px;
    max-width: 570px;
  }

  #job-number-col {
    min-width: 150px;
    max-width: 150px;
  }

  #visit-col {
    min-width: 220px;
    max-width: 220px;
  }

  #key-col {
    min-width: 180px;
    max-width: 180px;
  }

  #chips-col {
    min-width: 600px;
    max-width: 600px;
  }






  /* #postcode-col-search {
    min-width: 150px;
    max-width: 150px;
  } */


  /* #date-col-search {
    min-width: 180px;
    max-width: 180px;
  } */

  /* #job-number-col-search {
    min-width: 150px;
    max-width: 150px;
  } */

  /* #status-col-search {
    min-width: 150px;
    max-width: 150px;
  } */


  /* #phone-col {
    min-width: 180px;
    max-width: 180px;
  } */



  /* #job-number-col-search {
    min-width: 130px;
    max-width: 130px;
  } */

  .status-col-icon {
    transform: scale(0.8);
    margin-right: 8px;
  }

  .expand-icon {
    position: relative;
    margin-bottom: 50%;
    transform: scale(1.5);
  }

  .status-icon {
    position: relative;
    margin-bottom: 50%;
    transform: scale(0.8);
  }

  .edit-icon {
    position: relative;
    margin-bottom: 50%;
    transform: scale(0.8);
  }
  .weekday-display > div {
    font-size: 25px;
    font-weight: 100;
    color: #3f51b5;
  }

  .weekday-display {
    margin-right: 40px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
  }

  #empty-slot-time {
    position: absolute;
    padding-top: 0.5%;
    opacity: 0.5;
    padding-left: 20px;
  }

  .search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }
}

.mat-icon-button {
  height: 40px !important;
  width: 40px !important;
}

.mat-icon-button:hover #add-circle-icon {
  color: #3f51b5;
  opacity: 1;
}

#add-circle-icon {
  transform: scale(2);
  opacity: 0.25;
}

.weekday-display button {
  background: #3f51b5;
  color: white;
}

.weekday-display .mat-icon {
  color: white;
}

.mat-icon-button-focus-overlay {
  background-color: transparent !important;
}

#clearIcon {
  cursor: pointer;
}

.search-result-length > div {
  font-size: 25px;
  font-weight: 100;
  color: #3f51b5;
}

.search-result-length {
  margin-top: 2%;
  margin-right: 2.5%;
  margin-bottom: 2%;
}

#paginator {
  bottom: 0;
  width: 96%;
  margin: 2%;
}

.mat-standard-chip {
  min-height: 30px;
}

.mat-chip {
  font-weight: 10;
}