.example-element-detail {
  overflow: hidden;
  display: flex;
}

.filled-mat-card {
  margin: 2%;
  margin-top: 1%;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 0;
}

.main-toolbar {
  margin-left: 2%;
  margin-right: 2%;
}

.empty-mat-card {
  margin: 2%;
  position: relative;
  padding: 1.2%;
  border-radius: 0;
}

a {
  color: black;
}

mat-divider {
  margin-top: 10px;
}

.expansion-container {
  width: 100%;
}

.row > div {
  display: inline-flex;
  vertical-align: middle;
}

.expand-icon {
  position: relative;
  margin-bottom: 50%;
  transform: scale(1.7);
}

.status-icon {
  position: relative;
  margin-bottom: 50%;
  transform: scale(1);
}

.edit-icon {
  position: relative;
  margin-bottom: 50%;
  transform: scale(1);
}

.options-button {
  font-size: 30px !important;
  height: 30px !important;
  width: 30px !important;
}

:focus {
  outline: none !important;
}

@media (max-width: 600px) {
  .info-icon {
    transform: scale(0.85);
    margin-right: 8px;
    color: #484848;
  }
  .weekday-display > div {
    font-size: 15px;
    opacity: 1;
    color: #3f51b5;
  }

  #week {
    opacity: 0.8;
  }

  .weekday-display {
    margin-top: 10%;
    margin-right: 2.5%;
    margin-left: 2%;
    margin-bottom: 5%;
  }

  #empty-slot-time {
    position: absolute;
    padding-top: 3%;
    font-size: 85%;
    opacity: 0.5;
    padding-left: 2.5%;
  }

  .calendar-picker {
    max-width: 150px;
  }

  .search-bar {
    width: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .expansion-container .row {
    margin-top: 10px;
  }
  .info-icon {
    transform: scale(0.9);
    margin-right: 8px;
    color: #484848;
  }
  .row > div {
    margin-bottom: 5px;
  }
  #postcode-col {
    min-width: 130px;
    max-width: 130px;
  }

  #time-col {
    min-width: 220px;
    max-width: 220px;
  }

  #contact-col {
    min-width: 180px;
    max-width: 180px;
  }

  #address-col {
    min-width: 300px;
    max-width: 300px;
  }

  #phone-col {
    min-width: 180px;
    max-width: 180px;
  }

  .expand-icon {
    position: relative;
    margin-bottom: 50%;
    transform: scale(1.5);
  }

  .status-icon {
    position: relative;
    margin-bottom: 50%;
    transform: scale(0.8);
  }

  .edit-icon {
    position: relative;
    margin-bottom: 50%;
    transform: scale(0.8);
  }
  .weekday-display > div {
    font-size: 25px;
    font-weight: 100;
    color: #3f51b5;
  }
  .weekday-display {
    margin-right: 40px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
  }

  #empty-slot-time {
    position: absolute;
    padding-top: 0.5%;
    opacity: 0.5;
    padding-left: 20px;
  }

  .search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }
}

.mat-icon-button {
  height: 40px !important;
  width: 40px !important;
}

.mat-icon-button:hover #add-circle-icon {
  color: #3f51b5;
  opacity: 1;
}

#add-circle-icon {
  transform: scale(2);
  opacity: 0.25;
}

.weekday-display button {
  background: #3f51b5;
  color: white;
}

.weekday-display .mat-icon {
  color: white;
}